<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu id="packageOpenMenu" label="Shell">
                <command commandId="org.metatrope.cmdhere.popup.actions.openCmd"
                    label="Command Shell Here" style="push">
                    <visibleWhen>
                        <and>
                            <reference definitionId="expression.onlyOneItemSelected" />
                            <reference definitionId="expression.packageOrSourceFileSelected" />
                        </and>
                    </visibleWhen>
                </command>
                <command commandId="org.metatrope.cmdhere.popup.actions.openExplorer"
                    label="Explorer/Finder Here" style="push">
                    <visibleWhen>
                        <and>
                            <reference definitionId="expression.onlyOneItemSelected" />
                            <reference definitionId="expression.packageOrSourceFileSelected" />
                        </and>
                    </visibleWhen>
                </command>
            </menu>
        </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.commands">
        <command defaultHandler="org.metatrope.cmdhere.popup.actions.OpenShellAction"
            id="org.metatrope.cmdhere.popup.actions.openCmd" name="Open">
        </command>
        <command defaultHandler="org.metatrope.cmdhere.popup.actions.OpenExplorerAction"
            id="org.metatrope.cmdhere.popup.actions.openExplorer" name="Open">
        </command>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="expression.onlyOneItemSelected">
            <with variable="activeMenuSelection">
                <count value="1">
                </count>
            </with>
        </definition>
        <definition id="expression.packageOrSourceFileSelected">
            <with variable="activeMenuSelection">
                <iterate>
                    <or>
                        <adapt type="org.eclipse.jdt.core.ICompilationUnit"></adapt>
                        <adapt type="org.eclipse.jdt.core.IPackageFragment"></adapt>
                        <adapt type="org.eclipse.core.resources.IProject"></adapt>
                        <adapt type="org.eclipse.core.resources.IFile"></adapt>
                        <adapt type="org.eclipse.core.resources.IResource"></adapt>
                    </or>
                </iterate>
            </with>
        </definition>
    </extension>
</plugin>
